<br>
<div class="row">
  <div class="col-sm-6">
    <audio controls>
      <source src={{audio}} type="audio/wav">
    </audio>
  </div>
  <div class="col-sm-12">
    <form
      (ngSubmit)="calificarFraseUsuario(fraseUsuario)"
      #fraseUsuario="ngForm"
    >
      <div class="form-group">
        <label for="exampleInputEmail1">¿Qué escuchó?</label>
        <input type="frase" class="form-control" id="exampleInputEmail1" aria-describedby="phraseHelp" placeholder="Ingrese la frase"
               [(ngModel)]="email"
               name="frase"
               required
               #frase="ngModel"
        >
        <div
          class="alert alert-warning"
          role="alert"
          *ngIf="frase.errors !== null">
          <p *ngIf="frase.errors.required">Debe ingresar una frase</p>
        </div>
      </div>
      <button [disabled]="fraseUsuario.invalid"
              type="submit" class="btn btn-primary">Calificar</button>
    </form>
  </div>

</div>
<br><br>
<div class="row">
  <div class="col-sm-4" *ngIf="calificado">
    <app-subtitulo
      [sutitulo]="subtResultado"
    ></app-subtitulo>
  </div>
</div>
<br>
<div class="row" style="padding-top: 20px">
  <div class="col-md-7 card color">
    <table class="table table-borderless ">
      <tbody>
      <tr>
        <th>Lo que escuchaste</th>
        <td>
          <div class="card border-white palabra">{{fraseEscrita}}</div>
        </td>
      </tr>
      <tr>
        <th>Lo correcto</th>
        <td>
          <div class="card border-white palabra">{{textoBase}}</div>
        </td>
      </tr>
      <tr>
        <th class="card border-white palabra significado">Significado</th>
        <td>
          <div>{{significado}}</div>
        </td>
      </tr>
      <tr>
        <th>Porcentaje acierto de frase</th>
        <td class="card border-white palabra">{{resultado*100}}</td>
      </tr>
      <tr>
        <th>Resultado</th>
        <td class="resultadoBien" *ngIf="resultado == 1">EXCELENTE!</td>
        <td class="resultadoMedium" *ngIf="resultado >= 0.5 || resultado <= 0.75">ESTUVISTE CERCA!</td>
        <td class="resultadoMal" *ngIf="resultado < 0.5">ÁNIMO, LA SIGUIENTE ES TUYA!</td>
        <!--<ng-template #incorrectBlock>-->
          <!--<td class="resultadoMal">MUY MAL !</td>-->
        <!--</ng-template>-->
      </tr>

      </tbody>
    </table>
  </div>
</div>

