
<div style="text-align: center">
<mat-card class="example-card">

   <app-subtitulo
      [sutitulo]="titulo"
    ></app-subtitulo>
  <br>
  <br>
  <img mat-card-image src="assets/img/SALUDOS.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
   <app-boton  [nombreBoton]="botonIngresar"></app-boton>
  </mat-card-actions>
</mat-card>
</div>
