<app-barra-menu></app-barra-menu>
<br>
<br>
<div class="row">

  <div class="col-sm-2">

    <app-boton type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" [nombreBoton]="botonMenu">
      <img src="assets/img/si-glyph-bed.svg"/>Menu
    </app-boton>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul>
          <li>
            <a>Inicio</a>
          </li>
          <li>
            <a>Perfil</a>
          </li>
        </ul>

      </div>
    </div>


  </div>
  <br>
  <br>
  <br>
  <div class="col-sm-10">

    <app-menu-principal></app-menu-principal>
    <br>
    <br>
    <br>
  </div>
</div>


<h1 class="texto">
<app-footer></app-footer>
</h1>
