.color{
    color: #008800;
}
/*.titulo{
    font-weight: bolder;
    color: #000066;
   /* -webkit-transition: font-size 2s;*/
/* animation-name: colores;
 animation-duration: 8s;
 animation-delay: 2s;
 animation-iteration-count: 2;
/* transition: 2s;*//*
}*/
/*.titulo:hover{
    color:#008800;
    cursor: pointer;
    font-size: 5px;
}*/
@keyframes colores {
    0%{
        background-color: #000066;
        font-size: 10px;
    }
    40%{
        background-color: lawngreen;
        font-size: 18px;
    }
    60%{
        background-color: maroon;
        font-size: 25px;
    }


}
.rosado{
    color: mediumvioletred;
}
.verde{
    color:green;
}
.rojo{
    color:crimson;
}
.azul{
    color:blue;
}

.blanco{
    color: white;

}
.negro{
    background-color: black;
    color: #030201;

}

.negroletra{

    color: black;
}
.blacofranja{
    background-color: white;
}
.titulo2:hover {
    color: #0F9E5E;
    /*cursor: pointer;*/
}
.titulo3:hover {
    color:tomato;
    /*cursor: pointer;*/
}