<div class="col-sm-12">
  <app-titulo titulo="Menu Administrador"></app-titulo>
</div>
<br><br>
<div class="blancofranja" >

  <div class="row">
    <div class="col-sm-3">
      <app-item-menu
        titulo="Crear Nuevo Nivel"
        contenido=""
        nombreBotonIngresar="Crear Nuevo"
        rutaImagen="/assets/img/lapiz.PNG"
        routerLink="/Admin/nuevoNivel">
      </app-item-menu>
    </div>
    <div class="col-sm-3">
      <app-item-menu
        titulo="Editar Un Nivel"
        contenido=""
        nombreBotonIngresar="Editar Nivel"
        rutaImagen="/assets/img/lapiz.PNG"
        routerLink="/Admin/seleccionarNivel">
      </app-item-menu>
    </div>
    <div class="col-sm-3">
      <app-item-menu
        titulo="Borrar Nivel"
        contenido=""
        nombreBotonIngresar="Eliminar Nivel"

        rutaImagen="/assets/img/eliminar.PNG"
        routerLink="/Admin/borrarNivel">
      </app-item-menu>
    </div>
    <div class="col-sm-3">
      <app-item-menu
        titulo="Eliminar Frase"
        contenido=""
        nombreBotonIngresar="Eliminar Frase"
        rutaImagen="/assets/img/eliminar.PNG"

        routerLink="/Admin/borrarFrase">
      </app-item-menu>
    </div>
  </div>
</div>
<br>
<br>
