<br>
<br>
<br>
<mat-card class="color">
  <h1 align="center">REGISTRO DE USUARIOS</h1>
</mat-card>

<mat-card>
  <mat-form-field class="example-full-width">
    <textarea matInput
              type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre"
              name="nombre" [(ngModel)]="nombre" #nombreFormulario
    ></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput id="apellido" placeholder="Ingrese su Nickname"
              name="apellido" [(ngModel)]="nick" #apellidoFormulario

    ></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput
              id="correo" placeholder="Ingrese su correo"
              name="correo" [(ngModel)]="correo" #correoFormulario

    ></textarea>
  </mat-form-field>

  <!--<mat-form-field class="example-full-width">
    <textarea matInput id="pais" placeholder="Ingrese su contraseña"
              name="pais" [(ngModel)]="contrasena" #paisFormulario

    ></textarea>
  </mat-form-field>-->
  <br>
  <br>
  <label for="userPassword"><h4> Password:  </h4></label>
  <input id="userPassword1" type="password" autocomplete="current-password" [(ngModel)]="contrasena" size="125%">
  <br>
  <br>
  <br>
   <label for="userPassword"> <h4>Confirmación de Password:</h4>         </label>
   <input id="userPassword" type="password" autocomplete="current-password" [(ngModel)]="contrasena2" size="100%">

  <!--mat-form-field class="example-full-width">
    <textarea matInput id="ciudad" placeholder="Ingrese su foto"
              name="ciudad" [(ngModel)]="url_foto" #ciudadFormulario></textarea>
  </mat-form-field-->
    <!--div class="form-group">
      <label for="exampleFormControlFile1" >Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" [(ngModel)]="url_foto" #ciudadFormulario>
    </div-->
<!--<div>
  <br>
  <br>
  <h3>Es administrador ?</h3>
  <br>
  <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
    <option value="0">Selecciona una opción</option>
    <option *ngFor="let dato of datos">
      {{dato}}
    </option>
    <br>
  </select>
</div>-->


  <br>
  <br>
  <!-- Prueba para ver la opción seleccionado -->
  <!--p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion }}</p-->

  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    <app-boton type="submit" (click)="validarcontrasena()" routerLink="" [nombreBoton]="botonRegistrase"></app-boton>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <!--button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button-->
</mat-card>

  <br>
<br>
<br>

