<br>
<br>
<br>
<mat-card class="color">
  <h1 align="center">REGISTRO DE USUARIOS</h1>
</mat-card>



<mat-card>

<form class="example-form" >
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre Completo" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nick" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email"
           [errorStateMatcher]="matcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ingrese el password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Ingrese nuevamente el password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

</form>

  <app-boton>

  </app-boton>
</mat-card>

<br>
<br>
<br>

