<br>
<app-titulo
  [titulo]="titulo"
></app-titulo>

<div class="row">
  <div class="col-sm-4">
    <div class="card foto">
      <img src={{usuario.url_foto}} class="card-img-bottom  rounded" alt="foto usuario">
    </div>
  </div>
  <div class="col-sm-8 nombrePerfil">
    <h2>{{usuario.nombre | uppercase}}</h2>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-4">
    <app-subtitulo
      [sutitulo]="subtRecord"
    ></app-subtitulo>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <app-subtitulo
      [sutitulo]="subtProgreso"
    ></app-subtitulo>
  </div>
</div>
<br>
<div class="row" style="padding-top: 25px">
  <div class="col-md-5">
    <table class="table table-hover">
      <tbody>
      <tr>
        <th>Prácticas Hechas</th>
        <td>{{totalPracticas.totalPracticas}}</td>
      </tr>
      </tbody>
    </table>
    <br>
    <h5>Mejores prácticas</h5>
    <table class="table table-hover" *ngIf="practicasMejores.length !== 0; else elseBlock">
      <ng-template #elseBlock>
        <h3>No registra prácticas aún</h3>
      </ng-template>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Correctas</th>
        <th scope="col">Nivel</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let practicaM of practicasMejores">
        <td>{{practicaM.id}}</td>
        <td>{{practicaM.fecha}}</td>
        <td>{{practicaM.porcentajeExito}}</td>
        <td>{{practicaM.nivel.nombre}}</td>
      </tr>
      </tbody>
    </table>

    <br>
    <h5>Peores prácticas</h5>
    <table class="table table-hover" *ngIf="practicasPeores.length!==0; else elseBlock">
      <ng-template #elseBlock>
        <h3>No registra prácticas aún</h3>
      </ng-template>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Correctas</th>
        <th scope="col">Nivel</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let practicaP of practicasPeores">
        <td>{{practicaP.id}}</td>
        <td>{{practicaP.fecha}}</td>
        <td>{{practicaP.porcentajeExito}}</td>
        <td>{{practicaP.nivel.nombre}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
  <div class="col-sm-5">
    <img src="assets/img/improve.jpg" class="img-fluid" alt="">
  </div>
</div>
<br>
<div class="row">
  <!--<app-boton
    [nombreBoton]="botonResumen"
  ></app-boton>-->
</div>
<br><br>



