 <div class="row">
   <br>

    <div class="col-sm-11 negroletra">
      <p>
        <br>
        Recuerda que el objetivo principal de las clases de inglés como segundo idioma debe ser facilitar el "nivel de comodidad con el uso del idioma inglés, por lo que el establecimiento de metas a corto plazo que corresponden a los intereses y niveles de habilidad de los alumnos es importante para crear un ambiente de clase en el que los estudiantes puedan tener éxito aprendiendo inglés como segundo idioma.
        <br>
      </p>
    </div>
  </div>
  <div class="blancofranja" >

    <div class="row">

      <div class="col-sm-4 "><div class="card" style="width: 18rem;">
        <img class="card-img-top " src="assets/img/SALUDOS.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Saludos/Greeting</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comenzar</a>
        </div>
      </div></div>
      <div class="col-sm-4 "><div class="card" style="width: 18rem;">
        <img class="card-img-top " src="assets/img/CONTRACCIONES1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Contracciones/Contractions</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comenzar</a>
        </div>
      </div></div>
      <div class="col-sm-4 "><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/RANDON1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Aleatorio/Random</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comenzar</a>
        </div>
      </div></div>

    </div>
  </div>
  <br>
  <br>

  <br>
  <br>
  <div class="blancofranja" >

    <div class="row">

      <div class="col-sm-4 "><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/verbos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Verbos/Verbs</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comenzar</a>
        </div>
      </div></div>
      <div class="col-sm-4 "><div class="card" style="width: 18rem;">
        <img class="card-img-top " src="assets/img/palabras.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Palabras Complicadas/Difficult Words</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comenzar</a>
        </div>
      </div></div>
      <div class="col-sm-4 "><div class="card" style="width: 18rem;">
        <img class="card-img-top " src="assets/img/errores.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Errores Comunes/Common Mistakes</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comenzar</a>
        </div>
      </div></div>

    </div>
  </div>




