<div class="col-sm-12">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-subtitulo sutitulo="Busque y seleccione un nivel"></app-subtitulo>
    <form class="form-check-inline col-sm-12"
          #formulario="ngForm">
      <input class="form-control mr-sm-3" type="search" size="100"
             [(ngModel)]="palabraBusqueda"
             name="palabraBusqueda"
             (keypress)="buscarNivel(formulario)">
    </form>
    <div class="col-sm-12 card" *ngFor="let nivel of niveles;let i=index;">
      <p class="frase2" *ngIf="i===indice; else elseBlock" (click)="seleccionarNivel(i)">{{nivel.nombre}}</p>
      <ng-template #elseBlock>
        <p class="frase" (click)="seleccionarNivel(i)">{{nivel.nombre}}</p>
      </ng-template>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <br>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-boton nombreBoton="Eliminar nivel" (darClic)="eliminarNivel(idNivel)"></app-boton>
  </div>
</div>
