<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-titulo titulo="Nivel Nuevo"></app-titulo>
  </div>
</div>
<br>
<div>
  <app-subtitulo sutitulo="Ingresar Frases"></app-subtitulo>
</div>
<br>
<div class="row">
  <div class="col-sm-5">
    <h3>Frases Nivel</h3>
    <form class="form-check-inline col-sm-12"
          (ngSubmit)="crearFrase(formulario)"
          #formulario="ngForm">
      <input class="form-control mr-sm-3" type="text"
             placeholder="Nueva Frase"
             [(ngModel)]="nuevaFrase"
             name="nuevaFrase">
      <app-boton type="submit" (darClic)="crearFrase(formulario)" nombreBoton="Añadir"></app-boton>
    </form>
    <div class="col-sm-12 card" *ngFor="let frase of frasesNivel;let i=index;">
      <p class="frase2" *ngIf="!frase.seleccionado; else elseBlock"
         (click)="seleccionarFraseNivel(i)">
        {{frase.texto}}</p>
      <ng-template #elseBlock>
        <p class="frase" (click)="seleccionarFraseNivel(i)">{{frase.texto}}</p>
      </ng-template>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="8">
        <app-boton nombreBoton="Quitar Frases Seleccionadas"
                   (darClic)="quitarCampoSeleccionado()">
        </app-boton>
      </div>
    </div>
  </div>

  <div class="col-sm-2">

    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <br><br><br><br>
      <app-boton  nombreBoton="< Copiar "
      (darClic)="anadirCampoSeleccionado()">
      </app-boton>
    </div>
    <br>


  </div>
  <div class="col-sm-5">
    <h3>Todas las frases</h3>
    <form class="form-check-inline col-sm-12"
          #formulario2="ngForm">
      <input class="form-control mr-sm-3" type="search" placeholder="Buscar Frase" size="100"
             [(ngModel)]="palabraBusqueda"
             aria-label="Buscar Frase"
             name="palabraBusqueda"
             (keypress)="buscarFrase(formulario2)">
    </form>
    <div class="col-sm-12 card" *ngFor="let frase of frasesOtrasMostradas;let i=index;">
      <p class="frase2" *ngIf="!frase.seleccionado; else elseBlock" (click)="seleccionarFraseOtras(i)">{{frase.texto}}</p>
      <ng-template #elseBlock>
        <p class="frase" (click)="seleccionarFraseOtras(i)">{{frase.texto}}</p>
      </ng-template>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-boton nombreBoton="Terminar y Salir" routerLink=""></app-boton>
  </div>
  <div class="col-sm-4"></div>
</div>
<br>
