<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-titulo titulo="Nivel Nuevo"></app-titulo>
  </div>
</div>
<br>
<div>
  <app-subtitulo sutitulo="Ingresar Frases"></app-subtitulo>
</div>
<br>
<div class="row">
  <div class="col-sm-5">
    <h3>Frases Nivel</h3>
    <form class="form-check-inline col-sm-12">
      <input class="form-control mr-sm-3" type="text" placeholder="Nueva Frase"
             name="nuevaFrase">
      <app-boton type="submit" nombreBoton="Añadir"></app-boton>
    </form>
    <div class=" col-sm-12 card">
      <p>Where</p>
      <p>Where</p>
    </div>
    <br>
    <div>
      <app-boton nombreBoton="Quitar Frases Seleccionadas"></app-boton>
    </div>
  </div>

  <div class="col-sm-2">

    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <br><br><br><br>
      <app-boton  nombreBoton="< Copiar "></app-boton>
    </div>
    <br>


  </div>
  <div class="col-sm-5">
    <h3>Todas las frases</h3>
    <form class="form-check-inline col-sm-12">
      <input class="form-control mr-sm-3" type="search" placeholder="Buscar Frase" size="100" aria-label="Buscar Frase"
             name="palabraBusqueda">
    </form>
    <div class="col-sm-12 card">
      <p>Who</p>
      <p>Why</p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-boton nombreBoton="Terminar y Salir"></app-boton>
  </div>
  <div class="col-sm-4"></div>
</div>
