<div class="col-sm-12 bg-info text-white" align="center"><br><H1 class="blanco">MENU DE PRACTICAS</H1><br></div>

<div class="row">

  <div class="col-sm-2">
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Menu
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul>
          <li>
            <a
        >Home</a>
          </li>
          <li>
            <a >Practicas</a>
          </li>
          <li>
            <a >Perfil</a>
          </li>
        </ul>

      </div>
    </div>


  </div>
  <div class="col-sm-8">

    <!--router-outlet></router-outlet-->

  </div>
</div>


<h1 class="texto">
  <div class="col-sm-12 bg-info text-white" align="center"><br><H4 class="blanco">Autores:Paola Guamani,Graciela Moreno,Carlos Guitierrez</H4><br></div>


</h1>


