<div class="col-sm-15">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" routerLink="/home/menuP">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active" *ngIf="esAdmin">
          <a class="nav-link" href="#" routerLink="/Admin/menuA">Administrador <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home/perfil">Perfil</a>
        </li>
      </ul>
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="" (click)="borrarCookie()" ><span class="glyphicon glyphicon-log-out"></span></a>
  </li>
</ul>
    </div>

  </nav>


</div>
