<br>
<br>
<div class="row">

  <div class="col-sm-11 negroletra">
    <p>

      Recuerda que el objetivo principal de las clases de inglés como segundo idioma debe ser facilitar el "nivel de comodidad con el uso del idioma inglés, por lo que el establecimiento de metas a corto plazo que corresponden a los intereses y niveles de habilidad de los alumnos es importante para crear un ambiente de clase en el que los estudiantes puedan tener éxito aprendiendo inglés como segundo idioma.
      <br>
    </p>
  </div>
</div>
<div class="blancofranja" >

  <div class="row" >

    <div class="col-sm-4 animated flipInY" *ngFor="let niv of niveles;">
      <app-item-menu
        [contenido]="niv.descripcion"
        [titulo]="niv.nombre"
        (darclic)="crearPractica(niv.id)"
      >
      </app-item-menu>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>


