<br>
<app-titulo
  [titulo]="titulo"
></app-titulo>
<br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 card mensaje">
    <h6>Presiona Grabar, pronuncia la frase o palabra.</h6>
    <h6>Al finalizar, presiona Parar</h6>
  </div>
  <div class="col-sm-3"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <app-subtitulo
      [sutitulo]="'Módulo '+practicaTodo.nivel.nombre"
    ></app-subtitulo>
  </div>
</div>
<br>

<div class="row" *ngIf="!finPractica">
  <app-practica
    [practicaId]="frase.id"
    [textoBase]="frase.texto"
    [significado]="frase.significado"
    [fraseId]="frase.id"
    (calificacionParcial)="agregarCalificacion($event)"
  ></app-practica>
  <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <app-boton
      [nombreBoton]="botonSiguiente"
      (darClic)="siguienteFrase()"
    ></app-boton>
  </div>
</div>

<div class="row" *ngIf="finPractica">
  <div class="col-md-6 card">
    <table class="table">
      <tbody>
      <tr>
        <th>Puntaje final</th>
        <td>
          <div class="card border-white">{{puntajeFinal*100}}/100</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<br><br>

<app-footer></app-footer>

