<app-practica></app-practica>
<br>
<app-titulo
  [titulo]="titulo"
></app-titulo>
<br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 card mensaje">
    <h6>Presiona Grabar, pronuncia la frase o palabra.</h6>
    <h6>Al finalizar, presiona Parar</h6>
  </div>
  <div class="col-sm-3"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <app-subtitulo
      [sutitulo]="'Módulo '+subtNivel"
    ></app-subtitulo>
  </div>
</div>
<br>


<app-practica *ngIf="finGrabacion"
  [loQueDijo]="loQueDijo"
  [loCorrecto]="loCorrecto"
  [resultado]="resultado"
></app-practica>

<br>
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <app-boton
      [nombreBoton]="botonReintentar"
    ></app-boton>
  </div>
  <div class="col-sm-3">
    <app-boton
      [nombreBoton]="botonSiguiente"
    ></app-boton>
  </div>
</div>
<br><br><br>
