<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-subtitulo sutitulo="Busque y seleccione un nivel"></app-subtitulo>
    <br>
    <form class="form-check-inline col-sm-12"
          #formulario="ngForm">
      <input class="form-control mr-sm-3" type="search"  size="100"
             [(ngModel)]="palabraBusqueda"
             placeholder="Buscar"
             name="palabraBusqueda"
             (keypress)="buscarNivel(formulario)">
    </form>
    <div class="col-sm-12 card" *ngFor="let nivel of niveles;let i=index;">
      <p class="frase2"  (click)="seleccionarNivel(i)">{{nivel.nombre}}</p>
    </div>
  </div>
</div>
